<div class="container" >
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-sm-10">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/casoFeliz1.jpg" class="d-block w-100" style="height: 550px" alt="...">
            <h4 class="card-title text-mdv5 mt-4 mp-4">Finalmente lo encontré...</h4>
            <h5 class="card-text text-justify">
              Después de 2 meses buscando a Lola encontré la página en facebook y me anime a registrar a mi mascota
              como perdida en este sitio. Realmente ya había publicado en diferentes redes sociales la foto de Lola
              sin lograr algún resultado. Gracias a Dios quien la encontró y cuidó durante este tiempo busco en la
              página y encontró mis datos... me llamo y salí corriendo por ella.
            </h5>
            <h6 class="card-footer text-right mt-2">Juan Carlos, Bogotá.</h6>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/casoFeliz2.jpg" class="d-block w-100" style="height: 550px" alt="...">
            <h4 class="card-title text-mdv5 mt-4 mp-4">Ya esta con nosotras...</h4>
            <h5 class="card-text text-justify">
              Hola ... Muchísimas gracias estoy muy feliz, nuevamente mi Tato esta conmigo realmente agradezco a
              Mascotadevuelta.com por su ayuda y colaboración y a todas las personas que hicieron posible, el volver
              a tener a mi bebe en casa.
            </h5>
            <h6 class="card-footer text-right mt-2">Carolina Restrepo, Medellín.</h6>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/casoFeliz3.jpg" class="d-block w-100" style="height: 550px" alt="...">
            <h4 class="card-title text-mdv5 mt-4 mp-4">Lo extrañe mucho...</h4>
            <h5 class="card-text text-justify">
              Gracias a la busqueda puede encontrar a mi mascota en tan solo 3 días, aunque parecen pocos para mi
              fueron tres días eternos. Gracias a quien encontro, cuido y reporto a mi Felix
            </h5>
            <h6 class="card-footer text-right mt-2">Diana Marcela, Bogotá.</h6>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>