<div class="container-fluid p-8 justify-content-center">
  <div class="row m-2">
    <div class="col-12 d-flex justify-content-center p-8">
      <h1 class="text-mdv5 ">Te ayudamos a buscar tu mascota</h1>
    </div>
  </div>
  <div class="row m-4">
    <div class="col-12 d-flex justify-content-center">
      <img src="../../../assets/images/imagenPagInicial.jpg" alt="" srcset="" />
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-10 m-4">
      <p>
        Mascotadevuelta.com somos un grupo de desarrolladores con un gusto por animales, nuestra misión principal es
        restaurar el vinculo entre las personas y nuestras adoradas mascotas después de una perdida o extravío con la
        ayuda de software y colaboración comunitaria logramos facilitar un final Feliz.
      </p>
      <p><strong class="text-mdv4">¡¡¡Bienvenidos y Avancemos!!!</strong></p>
    </div>
  </div>
  <div class="row row d-flex justify-content-center">
    <div class="col-10 m-4">
      <h2 class="text-mdv3">¿Como lo hacemos?</h2>
    </div>
  </div>
  <div class="row row d-flex justify-content-center">
    <div class="col-10 m-4">
      <p>
        Creamos un sitio web con humanidad y efectividad, diferente a los canales formales e informales que en algún
        momento lo hemos visitado.
      </p>
      <p>
        En nuestra herramienta tenemos tres verticales que forman un Plus llegando al éxito de cerrar un caso de
        búsqueda en un momento de felicidad y reencuentro.
      </p>
      <p><strong class="text-mdv4">Busca tu mascota:</strong> Podemos realizar una búsqueda de Mascotas perdidas o
        encontradas también una
        filtración por
        Tipo de mascota, Raza, Sexo y lugar de interés. Estas herramientas el usuario tendrá más posibilidades de
        encontrar su mascota.
      </p>
      <p><strong class="text-mdv4">Reporta Una Mascota:</strong> Este formulario es fundamental para nuestra plataforma,
        el usuario debe
        ser lo mas explicito y
        honesto en suministrar la mayor información posible de esta manera nuestro Software y comunidad logran ayudar en
        la misión de buscar nuestras mascotas.</p>
      <p> <strong class="text-mdv4">Casos Felices:</strong> En esta vertical expresamos nuestro agradecimiento y
        felicidad por cerrar un
        caso de búsqueda al mismo tiempo que es nuestra fuerza e inspiración al ver familias y mascotas felices depures
        de un mal tiempo.
      </p>
    </div>
  </div>
  <div class="row row d-flex justify-content-center">
    <div class="col-10 m-4">
      <h2 class="text-mdv3">Últimos casos reportados</h2>
    </div>
  </div>
  <div class="row row d-flex justify-content-center">
    <div class="col-10 d-flex justify-content-center">
      <div class="card m-2" style="width: 18rem">
        <div class="card-header text-danger font-weight-bolder">Perdido</div>
        <img src="../../../assets/images/cat1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem">
        <div class="card-header text-color-5 font-weight-bolder">
          Encontrado
        </div>
        <img src="../../../assets/images/1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem" routerLink="/detalleMascota">
        <div class="card-header text-danger font-weight-bolder">Perdido</div>
        <img src="../../../assets/images/2dog.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem">
        <div class="card-header text-danger font-weight-bolder">Perdido</div>
        <img src="../../../assets/images/2.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card m-2" style="width: 18rem">
        <div class="card-header text-color-5 font-weight-bolder">
          Encontrado
        </div>
        <img src="../../../assets/images/cat2.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>