<main class="p-2">
  <form [formGroup]="newPetReport" (ngSubmit)="registerNewPet()">
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-12">
        <h1 class="text-mdv3">Datos de la mascota</h1>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <div class="form-check">
          <input class="form-check-input" formControlName="reportType" type="radio" name="reportType"
            id="mascotaPerdida" value="Perdido" checked />
          <label class="form-check-label" for="mascotaPerdida">
            Esta perdida
          </label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="form-check">
          <input class="form-check-input" formControlName="reportType" type="radio" name="reportType"
            id="mascotaEncontrada" value="Encontrado" checked />
          <label class="form-check-label" for="mascotaEncontrada">
            Lo encontre
          </label>
        </div>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12">
        <div class="custom-file">
          <input type="file" class="custom-file-input" formControlName="petPic" id="customFile" />
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nombre" />
      </div>
      <div class="col-sm-12 col-md-6">
        <label>Tipo mascota</label>
        <select class="custom-select mr-sm-2" formControlName="petType" id="petType" name="petType"
          (change)="getBreedsForPetType()">
          <option [value]="petType.name" *ngFor="let petType of petTypes">
            {{ petType.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row p-2">

      <div class="col-sm-12 col-md-6">
        <label>raza</label>
        <select class="custom-select mr-sm-2" id="breed" name="breed" formControlName="breed">
          <option [value]="breed.name" *ngFor="let breed of breeds">
            {{ breed.name }}
          </option>
        </select>
        <!-- <select class="custom-select mr-sm-2" formControlName="breed" id="raza">
          <option selected>Raza</option>
          <option value="Golden Retriver">Golden Retriver</option>
          <option value="Pitbull">Pitbull</option>
          <option value="Labrador">Labrador</option>
          <option value="Criollo">Criollo</option>
          <option value="Sin identificar">Sin identificar</option>
        </select> -->
      </div>
      <div class="col-sm-12 col-md-6">
        <label>Genero</label>
        <select class="custom-select mr-sm-2" id="gender" name="gender" formControlName="gender">
          <option [value]="gender.value" *ngFor="let gender of genders">
            {{ gender.text }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <label>Edad</label>
        <input type="text" class="form-control" formControlName="age" placeholder="Años" />
      </div>
      <div class="col-sm-12 col-md-6">
        <label>Tamaño</label>
        <select class="custom-select mr-sm-2" formControlName="size" id="tamaño">
          <option value="Miniatura">Miniatura</option>
          <option value="Pequeño">Pequeño</option>
          <option value="Mediano">Mediano</option>
          <option value="Grande">Grande</option>
          <option value="Gigante">Gigante</option>
        </select>
      </div>
    </div>
    <div class="form-row p-2"></div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <div><span>¿Castrado?</span></div>
        <div class="form-check">
          <input class="form-check-input" formControlName="castrated" type="radio" name="castrated" id="sinCastrar"
            value="true" checked />
          <label class="form-check-label" for="sinCastrar"> Si </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" formControlName="castrated" type="radio" name="castrated" id="castrado"
            value="false" />
          <label class="form-check-label" for="castrado"> No </label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div><span>¿Tiene Chip?</span></div>
        <div class="form-check">
          <input class="form-check-input" formControlName="chip" type="radio" name="chip" id="conChip" value="true"
            checked />
          <label class="form-check-label" for="conChip"> Si </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" formControlName="chip" type="radio" name="chip" id="sinChip" value="false" />
          <label class="form-check-label" for="sinChip"> No </label>
        </div>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-12">
        <span>Características adicionales</span>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-12">
        <div class="container-fluid p-2">
          <div class="container-fluid mt-2 mb-2">
            <input type="text" class="form-control" formControlName="additionalFeatures" placeholder="" />
          </div>
          <div class="container-fluid mt-2 mb-2">
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="container-fluid mt-2 mb-2">
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="container-fluid mt-2 mb-2">
            <input type="text" class="form-control" placeholder="" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-12">
        <h1 class="text-mdv3">Visto por última vez / Encontrado en</h1>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <label>País</label>
        <select class="custom-select mr-sm-2" id="country" name="country" formControlName="country"
          (change)="getStates()">
          <option [value]="country.name" *ngFor="let country of countries">
            {{ country.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6">
        <label>Departamento</label>
        <select class="custom-select mr-sm-2" id="state" name="state" formControlName="state" (change)="getCities()">
          <option [value]="state.name" *ngFor="let state of states">
            {{ state.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <label>Ciudad</label>
        <select class="custom-select mr-sm-2" id="city" name="city" formControlName="city">
          <option [value]="city.name" *ngFor="let city of cities">
            {{ city.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6">
        <label>Barrio</label>
        <input type="text" class="form-control" formControlName="neighborhood" />
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <label>Fecha</label>
        <input type="date" class="form-control" formControlName="eventDate" />
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12">
        <textarea name="datosPerdida" id="" cols="30" rows="10"
          placeholder="Información adicional sobre la perdida/encuentro" class="form-control"
          formControlName="eventDescription"></textarea>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-12">
        <h1 class="text-mdv3">Datos adicionales</h1>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 md-6">
        <div><span>¿Deseas dar un recompensa?</span></div>
        <div class="form-check">
          <input class="form-check-input" formControlName="reward" type="radio" name="reward" id="conRecompensa"
            value="true" checked />
          <label class="form-check-label" for="conRecompensa"> Si </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" formControlName="reward" type="radio" name="reward" id="sinRecompensa"
            value="false" />
          <label class="form-check-label" for="sinRecompensa"> No </label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <label>Valor</label>
        <input type="number" class="form-control" formControlName="rewardValue" />
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 md-6">
        <div><span>¿Deseas que tu telefono sea público?</span></div>
        <div class="form-check">
          <input class="form-check-input" formControlName="publicPhone" type="radio" name="publicPhone"
            id="conTelPublico" value="true" checked />
          <label class="form-check-label" for="conTelPublico"> Si </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" formControlName="publicPhone" type="radio" name="publicPhone"
            id="sinTelPublico" value="false" />
          <label class="form-check-label" for="sinTelPublico"> No </label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6"></div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary mb-2">Guardar</button>
      </div>
    </div>
  </form>
</main>