<main class="p-2">
  <form [formGroup]="newPetReport" (ngSubmit)="registerNewPet()">
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="reportType"
            type="radio"
            name="reportType"
            id="mascotaPerdida"
            value="Perdido"
            checked
          />
          <label class="form-check-label" for="mascotaPerdida">
            Perdi mi mascota
          </label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="reportType"
            type="radio"
            name="reportType"
            id="mascotaEncontrada"
            value="Encontrado"
            checked
          />
          <label class="form-check-label" for="mascotaEncontrada">
            Encontre una mascota
          </label>
        </div>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            formControlName="petPic"
            id="customFile"
          />
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Nombre"
        />
      </div>
      <div class="col-sm-12 col-md-6">
        <select
          class="custom-select mr-sm-2"
          formControlName="petType"
          id="tipoMascota"
        >
          <option selected>Tipo mascota</option>
          <option value="Perro">Perro</option>
          <option value="Gato">Gato</option>
        </select>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <select
          class="custom-select mr-sm-2"
          formControlName="gender"
          id="sexo"
        >
          <option selected>Sexo</option>
          <option value="Hembra">Hembra</option>
          <option value="Macho">Macho</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6">
        <select class="custom-select mr-sm-2" formControlName="breed" id="raza">
          <option selected>Raza</option>
          <option value="Golden Retriver">Golden Retriver</option>
          <option value="Pitbull">Pitbull</option>
          <option value="Labrador">Labrador</option>
          <option value="Criollo">Criollo</option>
          <option value="Sin identificar">Sin identificar</option>
        </select>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <input
          type="text"
          class="form-control"
          formControlName="age"
          placeholder="Edad"
        />
      </div>
      <div class="col-sm-12 col-md-6">
        <select
          class="custom-select mr-sm-2"
          formControlName="size"
          id="tamaño"
        >
          <option selected>Tamaño</option>
          <option value="Miniatura">Miniatura</option>
          <option value="Pequeño">Pequeño</option>
          <option value="Mediano">Mediano</option>
          <option value="Grande">Grande</option>
          <option value="Gigante">Gigante</option>
        </select>
      </div>
    </div>
    <div class="form-row p-2">
      <!-- <div class="col-sm-12 col-md-6">
        <select
          class="custom-select mr-sm-2"
          formControlName="gender"
          id="tipoPelo"
        >
          <option selected>Tipo de pelo</option>
          <option value="1">Corto</option>
          <option value="2">Largo y sedoso</option>
          <option value="3">Pelo rizado</option>
          <option value="4">Pelo doble, medio y liso</option>
          <option value="5">Pelo grueso</option>
          <option value="6">Pelo duro</option>
          <option value="7">Pelo perenne</option>
          <option value="8">Sin pelo</option>
        </select>
      </div> -->
      <!-- <div class="col-sm-12 col-md-6">
        <input type="text" class="form-control" formControlName="size" placeholder="Color" />
      </div> -->
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <div><span>¿Castrado?</span></div>
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="castrated"
            type="radio"
            name="castrated"
            id="sinCastrar"
            value="true"
            checked
          />
          <label class="form-check-label" for="sinCastrar"> Si </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="castrated"
            type="radio"
            name="castrated"
            id="castrado"
            value="false"
          />
          <label class="form-check-label" for="castrado"> No </label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div><span>¿Tiene Chip?</span></div>
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="chip"
            type="radio"
            name="chip"
            id="conChip"
            value="true"
            checked
          />
          <label class="form-check-label" for="conChip"> Si </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="chip"
            type="radio"
            name="chip"
            id="sinChip"
            value="false"
          />
          <label class="form-check-label" for="sinChip"> No </label>
        </div>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-12">
        <span>Características adicionales</span>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-12">
        <div class="container-fluid p-2">
          <div class="container-fluid mt-2 mb-2">
            <input
              type="text"
              class="form-control"
              formControlName="additionalFeatures"
              placeholder=""
            />
          </div>
          <div class="container-fluid mt-2 mb-2">
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="container-fluid mt-2 mb-2">
            <input type="text" class="form-control" placeholder="" />
          </div>
          <div class="container-fluid mt-2 mb-2">
            <input type="text" class="form-control" placeholder="" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-12">
        <span>Visto por última vez / Encontrado en</span>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <select
          class="custom-select mr-sm-2"
          formControlName="country"
          id="pais"
        >
          <option selected>País</option>
          <option value="Colombia">Colombia</option>
          <option value="Ecuador">Ecuador</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6">
        <select
          class="custom-select mr-sm-2"
          formControlName="state"
          id="departamento"
        >
          <option selected>Departamento</option>
          <option value="Cundinamarca">Cundinamarca</option>
          <option value="Boyacá">Boyacá</option>
          <option value="Antioquia">Antioquia</option>
        </select>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <select
          class="custom-select mr-sm-2"
          formControlName="city"
          id="ciudad"
        >
          <option selected>Ciudad</option>
          <option value="Bogotá">Bogotá</option>
          <option value="Chia">Chia</option>
          <option value="La calera">La calera</option>
          <option value="Cota">Cota</option>
          <option value="Tenjo">Tenjo</option>
          <option value="Funza">Funza</option>
          <option value="Mosquera">Mosquera</option>
          <option value="Úbate">Úbate</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6">
        <input
          type="text"
          class="form-control"
          formControlName="neighborhood"
          placeholder="Barrio"
        />
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 col-md-6">
        <input
          type="date"
          class="form-control"
          formControlName="eventDate"
          placeholder="fecha"
        />
      </div>
      <div class="col-sm-12 col-md-6">
        <input
          type="time"
          class="form-control"
          formControlName="eventTime"
          placeholder="hora"
        />
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12">
        <textarea
          name="datosPerdida"
          id=""
          cols="30"
          rows="10"
          placeholder="Información adicional sobre la perdida/encuentro"
          class="form-control"
          formControlName="eventDescription"
        ></textarea>
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 md-6">
        <div><span>¿Deseas dar un recompensa?</span></div>
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="reward"
            type="radio"
            name="reward"
            id="conRecompensa"
            value="true"
            checked
          />
          <label class="form-check-label" for="conRecompensa"> Si </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="reward"
            type="radio"
            name="reward"
            id="sinRecompensa"
            value="false"
          />
          <label class="form-check-label" for="sinRecompensa"> No </label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <input
          type="number"
          class="form-control"
          formControlName="rewardValue"
          placeholder="valor"
        />
      </div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12 md-6">
        <div><span>¿Deseas que tu telefono sea público?</span></div>
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="publicPhone"
            type="radio"
            name="publicPhone"
            id="conTelPublico"
            value="true"
            checked
          />
          <label class="form-check-label" for="conTelPublico"> Si </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            formControlName="publicPhone"
            type="radio"
            name="publicPhone"
            id="sinTelPublico"
            value="false"
          />
          <label class="form-check-label" for="sinTelPublico"> No </label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6"></div>
    </div>
    <div class="form-row p-2">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary mb-2">Guardar</button>
      </div>
    </div>
  </form>
</main>
