<nav class="navbar navbar-expand-sm navbar-dark bg-mdv1">
  <a class="navbar-brand text-mdv3" routerLink="/home">mascotadevuelta.com</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link font-weight-bold text-mdv3" routerLink="/home"
          >Home</a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link font-weight-bold text-mdv3"
          routerLink="/buscaTuMascota"
          >Busca Tu Mascota</a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link font-weight-bold text-mdv3"
          routerLink="/reportaUnaMascota"
          >Reporta Una Mascota</a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a
          class="nav-link font-weight-bold text-mdv3"
          routerLink="/casosFelices"
          >Casos Felices</a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link font-weight-bold text-mdv3" routerLink="/ingresa"
          >Ingresa</a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link font-weight-bold text-mdv3" routerLink="/registrate"
          >Regístrate</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Contenedor Footer -->
<footer class="footer d-flex flex-column align-items-center bg-mdv1">
  <!-- Redes Sociales -->
  <div class="redes-sociales m-3 py-2">
    <fa-icon [icon]="faFacebookF" class="px-3 text-mdv3 icono-social"></fa-icon>
    <fa-icon [icon]="faTwitter" class="px-3 text-mdv3 icono-social"></fa-icon>
    <fa-icon [icon]="faInstagram" class="px-3 text-mdv3 icono-social"></fa-icon>
    <fa-icon [icon]="faYoutube" class="px-3 text-mdv3 icono-social"></fa-icon>
    <fa-icon [icon]="share" class="px-3 text-mdv3 icono-social"></fa-icon>
  </div>

  <!-- Nombre de la página -->
  <h6 class="firma text-mdv3 mt-2">mascotadevuelta.com® 2020</h6>
</footer>
