<div class="container mt-5">
  <!-- Fila de información de la mascota -->
  <div class="row">
    <!-- Columna imagen mascota -->
    <div class="col-8 d-flex align-items-center justify-content-center">
      <div class="">
        <div>
          <img
            class="focuspet mb-2"
            src="../../../assets/images/1.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- Columna tarjeta amarilla con info mascota -->
    <div
      class="col-4 bg-mdv3 p-5 rounded-lg border d-flex flex-column justify-content-center"
    >
      <div class="d-flex my-3">
        <span class="card-icons text-mdv5 material-icons">
          alternate_email
        </span>
        <h6 class="d-inline ml-2">Ejemplo2@gmail.com</h6>
      </div>
      <div class="d-flex my-3">
        <span class="card-icons text-mdv5 material-icons">
          not_listed_location
        </span>
        <h6 class="d-inline ml-2">{{ petInfo.city }}</h6>
      </div>
      <div class="d-flex my-3">
        <span class="card-icons text-mdv5 material-icons"> fingerprint </span>
        <h6 class="d-inline ml-2">{{ petInfo.name }}</h6>
      </div>
      <div class="d-flex my-3">
        <span class="card-icons text-mdv5 material-icons"> pets </span>
        <h6 class="d-inline ml-2">{{ petInfo.petType }}</h6>
      </div>
      <div *ngIf="petInfo.rewardValue > 0" class="d-flex my-3">
        <span class="card-icons text-mdv5 material-icons"> attach_money </span>
        <h6 class="d-inline ml-2">{{ petInfo.rewardValue }}</h6>
      </div>
    </div>
  </div>

  <div class="row mt-4 justify-content-center">
    <div class="col-sm-12 col-md-10 text-center">
      <p class="text-dark font-weight-bold">
        {{ petInfo.eventDescription }}
      </p>
      <div class="d-flex align-items-center justify-content-center my-4">
        <span class="icons text-mdv4 material-icons mr-2"> campaign </span>
        <h2 class="d-inline text-dark font-weight-bold">
          Si me has visto contacta a mi dueño
        </h2>
      </div>
    </div>
  </div>

  <!-- <div class="row mt-5 mb-5 justify-content-center">
    <div class="col-sm-12 py-4 col-md-10 border border-dark rounded-pill">
      <div class="row">
        <div class="d-flex flex-column align-items-center col-4">
          <span class="icons text-mdv4 material-icons"> security </span>
          <h5>Denunciar</h5>
        </div>
        <div class="d-flex flex-column align-items-center col-4">
          <span class="icons text-mdv4 material-icons"> business_center </span>
          <h5>Recompensa</h5>
        </div>
        <div class="d-flex flex-column align-items-center col-4">
          <span class="icons text-mdv4 material-icons"> phone_forwarded </span>
          <h5>Contactar Dueño</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>
