<div class="container mt-5">
  <div class="row">
    <div class="col-sm-10 col-md-6">
      <div class="row">
        <div class="col-sm-2 col-md-4">
          <div class="d-flex flex-column">
            <img class="carousel mb-2" src="../imagenes/2dog.jpg" alt="" />
            <img class="carousel mb-2" src="../imagenes/2dog.jpg" alt="" />
            <img class="carousel mb-2" src="../imagenes/2dog.jpg" alt="" />
            <img class="carousel mb-2" src="../imagenes/2dog.jpg" alt="" />
          </div>
        </div>
        <div>
          <img class="focuspet mb-2" src="../imagenes/2dog.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 bg-warning p-5">
      <div class="text-center d-flex align-items-center justify-content-start">
        <span class="icons text-colors material-icons"> alternate_email </span>
        <h2 class="d-inline">Ejemplo2@gmail.com</h2>
      </div>
      <div class="text-center d-flex align-items-center justify-content-start">
        <span class="icons text-colors material-icons">
          not_listed_location
        </span>
        <h2 class="d-inline">Bogota - Colombia</h2>
      </div>
      <div class="text-center d-flex align-items-center justify-content-start">
        <span class="icons text-colors material-icons"> fingerprint </span>
        <h2 class="d-inline">Odin</h2>
      </div>
      <div class="text-center d-flex align-items-center justify-content-start">
        <span class="icons text-colors material-icons"> pets </span>
        <h2 class="d-inline">French Bulldog</h2>
      </div>
    </div>
  </div>

  <div class="row mt-4 justify-content-center">
    <div class="col-sm-12 col-md-10 text-center">
      <p class="text-white">
        The French Bulldog is a breed of domestic dog, bred to be companion
        dogs. The breed is the result of a cross between Toy Bulldogs imported
        from England and local ratters in Paris, France, in the 1800s. They are
        stocky, compact dogs with a friendly, mild-mannered temperament.
      </p>
      <div
        class="text-center text-white d-flex align-items-center justify-content-center"
      >
        <span class="icons text-y material-icons"> campaign </span>
        <h2 class="d-inline">Me haz visto?</h2>
      </div>
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-sm-12 p-4 col-md-10 border border-yellow rounded-pill">
      <div class="d-flex justify-content-center">
        <span class="ml-5 icons text-y material-icons"> security </span>
        <span class="ml-5 icons text-y material-icons"> business_center </span>
        <span class="ml-5 icons text-y material-icons"> phone_forwarded </span>
      </div>
    </div>
    <div
      class="mt-4 col-sm-10 col-md-12 d-flex align-items-center justify-content-center text-white"
    >
      <div
        id="iconVolver"
        class="d-flex align-items-center justify-content-center"
      >
        <span class="icons text-y material-icons"> find_in_page </span>
        <h6>Volver a la busqueda</h6>
      </div>
    </div>
  </div>
</div>
