<div class="row d-flex align-self-center justify-content-center bg-mdv3 p-2">
  <div class="col cols-sm-12 cols-md-2 d-flex align-self-center">
    <button (click)="getAllPets()">Busqueda avanzada</button>
    <button (click)="searchReports()">Busqueda con filtro</button>
  </div>
  <div class="col cols-sm-12 cols-md-2">
    <select class="custom-select mr-sm-2" id="reportType" name="reportType" [(ngModel)]="reportType">
      <option [value]="item.value" *ngFor="let item of reportTypes">{{item.text}}</option>
    </select>
  </div>
  <div class="col cols-sm-12 cols-md-2">
    <select class="custom-select mr-sm-2" id="petType" name="petType" [(ngModel)]="petType"
      (change)="getBreedsForPetType()">
      <option [value]="petType.name" *ngFor="let petType of petTypes">{{petType.name}}</option>
    </select>
  </div>
  <div class="col cols-sm-12 cols-md-2">
    <select class="custom-select mr-sm-2" id="breed" name="breed" [(ngModel)]="breed">
      <option [value]="breed.name" *ngFor="let breed of breeds">{{breed.name}}</option>
    </select>
  </div>
  <div class="col cols-sm-12 cols-md-2">
    <select class="custom-select mr-sm-2" id="gender" name="gender" [(ngModel)]="gender">
      <option [value]="gender.value" *ngFor="let gender of genders">{{gender.text}}</option>
    </select>
  </div>
  <div class="col cols-sm-12 cols-md-2">
    <select class="custom-select mr-sm-2" id="ciudad">
      <option selected>Ciudad</option>
      <option value="1">Bogotá</option>
      <option value="2">Chia</option>
      <option value="3">La calera</option>
      <option value="4">Cota</option>
      <option value="5">Tenjo</option>
      <option value="6">Funza</option>
      <option value="7">Mosquera</option>
      <option value="8">Úbate</option>
    </select>
  </div>
</div>
<div class="row contenedor">
  <!-- Total resultados -->
  <div class="col-md-2 col-sm-10 d-flex flex-column align-items-left justify-content-center p-5">
    <span>Total de resultados</span>
    <span>Mascotas por ciudad:</span>
    <span>Bogotá: 2</span>
    <span>Tipos de mascota:</span>
    <span>Perro: 4</span>
    <span>Tipos de busqueda:</span>
    <span>Perdidos: 6</span>
  </div>
  <!-- Cards imagenes-->
  <div class="col-md-10 col-sm-12 p-5">
    <div class="card md-3 border-0" *ngFor="let report of reports">
      <div class="row mb-2">
        <div class="col-md-4 col-sm-12 d-flex align-items-center">
          <img src="{{ report.petPic }}" class="card-img imagenesPerritos" alt="..." />
        </div>
        <div class="col-md-6 col-sm-10 d-flex align-items-center mx-5">
          <div class="card-body bg-mdv1 blueCard">
            <!-- blueCard -->
            <div class="row d-flex containerBlueCard align-items-center">
              <div class="col-md-6 col-sm-4 d-flex flex-column">
                <div class="d-flex justify-content-left m-3">
                  <span class="material-icons text-mdv2 mr-2"> wc </span>
                  <span class="text-light h6">{{ report.gender }}</span>
                </div>
                <div class="d-flex justify-content-left m-3">
                  <span class="material-icons text-mdv2 mr-2"> pets </span>
                  <span class="text-light h6">{{ report.petType }}</span>
                </div>
              </div>
              <div class="col-md-6 col-sm-4 d-flex flex-column">
                <div class="d-flex justify-content-left m-3">
                  <span class="material-icons text-mdv2 mr-2"> today </span>
                  <span class="text-light h6">{{
                    report.eventDate | date: "MMM dd, yyyy"
                  }}</span>
                </div>
                <div class="d-flex justify-content-left m-3">
                  <span class="material-icons text-mdv2 mr-2"> place </span>
                  <span class="text-light h6">{{ report.city }}</span>
                </div>
              </div>
            </div>
            <div class="row w-100 d-flex justify-content-end">
              <button id="verMas1" class="botonDetalles" routerLink="/detalleMascota"
                (click)="getOnePet('5fd18330f5c56b3d24087873')">
                Ver más
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>